@model IEnumerable<MyApp.Models.StatementModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<link href="Responsive.css" rel="stylesheet" />*@
    @*<script src="/js/Script.js"></script>-->*@
    <link rel="stylesheet" href="~/css/style.css" />

    <title>Statements</title>
</head>

<body>

    <header class="header-section"></header>
    <section class="filter-section">

        <div class="form-group">
            <label for="StatementFilter" style="line-height: 34px !important; margin: 0px !important; height: 34px !important; font-size: 13px;">Statement Name</label>

            <input class="form-control" name="StatementFilter" id="StatementFilter" type="text" placeholder="Enter here "
                   value="">
        </div>
    </section>
    <section class="grid-section">

        <table class="table">
            <thead>
                <tr>
                    <th>Statement Image</th>
                    <th>Statement Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var imgSrc = String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(item?.statementImage));

                    <tr>
                        <td>
                            <img src="@imgSrc" />
                        </td>
                        <td>
                            @item.statementName
                        </td>

                        <td>
                            <a asp-controller="StatementModels" asp-action="GoToStatement" asp-route-id="@item.statementId">View</a>
                        </td>

                    </tr>
                 }
            </tbody>
        </table>
    </section>

    <!--<script type="module" src="js/index.js"></script>-->
</body>
</html>