@model IEnumerable<MyApp.Models.StatementModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css" />

    <title>Statements</title>
</head>

<body id="statement-page-body">

    <header class="header-section"></header>
    <section class="filter-section">

        <div class="form-group">
            <label for="StatementFilter" class="filter-label">Statement Name</label>

            <input class="form-control" name="StatementFilter" id="StatementFilter" type="text" placeholder="Enter here "
                   value="">
        </div>
    </section>
    <div class="grid-section" id="grid-view-body">
        @Html.Partial("~/Views/GridView.cshtml", Model)

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/scripts/site.js" asp-append-version="true"></script>
</body>
</html>